@media only screen and (max-width: 1200px) {
    .navbar-menu-list {
        display: none;
    }

    .circle-btn {
        display: flex;
    }

    .nav-action__wrapper {
        button {
            &:nth-child(2) {
                text-wrap: nowrap;
            }
        }
    }


    .service__wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items:stretch;
        gap: 50px 0 !important;
    }
    .partners__wrapper{
        overflow: auto;
    }


    .menu-li{
        &:last-child, &:nth-child(5){
            display: none;
        }
    }
}

@media only screen and (max-width: 1024px){
    .process{
        .process-content {
        grid-template-columns: repeat(2, 1fr);
    }
    }

    .service__wrapper{
        gap: 50px 0 !important;
    }
    .service-content{
        h3{
            font-size: 30px;
            line-height: 45px !important;
        }
    }

    .footer-content{
        flex-direction: column;
        gap: 130px 0 !important;
    }
}

@media only screen and (max-width: 794px){
    .hero-content__wrapper{
        .hero-content{
            
            gap: 20px !important;
        h1{
            font-size: 36px;
            line-height: normal;
        }
        p{
            font-size: 14px;
        }
        }
    }
    h3{
        font-size: 36px !important;
        line-height: normal !important;
    }
    
    .url-list{

    .url-link{
        font-size: 20px;
        padding: 16px;
    }
    }

    

    .accordion{
        grid-template-columns: 1fr !important;
    }

    
}

@media only screen and (max-width: 640px) {
    .header {
        border: none;
    }


    .navbar-logo {
        width: 111px;
        height: 49px;
    }

    .nav-action__wrapper {
        button {
            display: none;

            &:last-child {
                display: flex;
            }
        }
    }

    .hero-content__wrapper {
        flex-direction: column;

        .hero-content {
            h1 {
                font-size: 36px;
                line-height: 45px;
                letter-spacing: 0.03em;
                max-width: 588px;
                width: 100%;
            }

            p {
                max-width: 588px;
                width: 100%;
            }
        }

        .hero-image {
            img {
                width: 100%;
            }
        }

    }
    
    .url-list{

    .url-link{
        font-size: 14px;
        padding: 16px;
        margin: 0;
        gap: 0 5px;
    }
    }

    .process{
        .process-content {
        grid-template-columns: repeat(1, 1fr);
        }
    }

    .statistics__wrapper{
        width: 100%;
        grid-template-columns: 1fr !important;
        .statistic-card{
            max-width: 100% !important;
        }
    }

    .menu-li{
        &:last-child, &:nth-child(5){
            display: inline-block;
        }
    }

}


@media only screen and (max-width: 450px){

    .hero-content__wrapper{
        .hero-content {
            h1 {
                font-size: 30px;
                line-height: 40px;
                letter-spacing: 0.03em;
                width: 388px;
                width: 100%;
            }
        }
    }

   h3{
        font-size: 26px !important;
        line-height: normal !important;
    }
    .url-text{
        font-size: 14px !important;
        line-height: normal !important;
    }
    .url-list{

    .url-link{
        font-size: 12px;
        padding: 16px 2px;
        margin: -4px;
        gap: 2px;
    }
    }
    .link-title{
        font-size: 24px !important;
    }
    .about{
        align-items: center !important;
    }
    .footer-menu__wrapper{
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
        gap: 30px 0 !important;
        .footer-menu{
            align-items: center;
        }
    }
}
