.hero-content__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 50px;

    h1 {
        font-family: var(--sora-extra-bold);
        font-size: 56px;
        font-weight: 900;
        line-height: 71px;
        max-width: 578px;
        color: var(--extra-color);
    }

    p {
        color: var(--p-dark-color);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.05em;
        text-align: left;
        max-width: 634px;
    }
}
.hero-image{
    img{
        width: 100%;
    }
}