.header{
    border-bottom: 1px solid var(--secondary-dark-color);
}
.navbar{
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-menu-list, .nav-action__wrapper{
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
    .navbar-menu-btn{
        display: none;
    }
}
.navbar-menu-link{
    color: var(--extra-color);
    padding: 16px 24px;
    text-wrap: nowrap;
    &--active{
        border: 1px solid var(--main-color);
        background-color: var(--secondary-main-color);
        border-radius: 8px;
        color: var(--main-color);
    }
}

@media only screen and (max-width: 1200px) {
    .nav-action__wrapper{
        button{
            &:nth-child(2){
                text-wrap: nowrap;
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    .header{
        border: none;
    }
    .navbar-menu-list{
        display: none;
    }
    .navbar-logo{
        width: 111px;
        height: 49px;
    }
    .nav-action__wrapper{
        button{
            display: none;
        }
        .navbar-menu-btn{
            display: block;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50% !important;
            border: none;
            background-color: var(--main-color);
            color: var(--primary-light-color);
            font-size: 20px;
            border-radius: 0;
        }
    }
}