.header {
    border-bottom: 1px solid var(--secondary-dark-color);
}

.navbar {
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-btn-display{
    display: none;
    line-height: 51px !important;
}
.navbar-menu-list,
.nav-action__wrapper {
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
}

.navbar-menu-link {
    color: var(--extra-color);
    padding: 16px 24px;
    text-wrap: nowrap;

    &--active {
        border: 1px solid var(--main-color);
        background-color: var(--secondary-main-color);
        border-radius: 8px;
        color: var(--main-color);
    }
}